<!DOCTYPE html>
<html>

  <head>
    <title>Web Guesser</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <style>
      * {font-family: 'Roboto Condensed', sans-serif;}
      .btn {display:block; margin:auto; margin-top: 10px;}
      .message {display:block; margin:auto; color:purple; text-align:center; font-size:48px;}
    </style>
  </head>

  <body>
    <form>
      <input class="btn" type="text" name="guess" />
      <input class="btn" type="submit" value="Guess!"/>
    </form>
    <div class="message">
      <p style="background:<%=
        if message.include?("Way")
          "red"
        elsif message.include?("Too")
          "yellow"
        end%>; 
        color:<%= "white" if message.include?("Way")%>;"> 
        <%= message %>
      </p>
      <p style="background:<%= "green" if message.include?("right")%>; color:<%= "white" if message.include?("right")%>;">
        <%= "Out of guesses! New number generated." if guesses == 0 && !message.include?("right") %>
        <%= "Guesses left: #{guesses}" if guesses > 0 && !message.include?("right")%>
        <%= "The secret number is #{secret_number}. \nPlay again!" if message.include?("right") %>
      </p>
    </div>
  </body>

</html>